<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block content %}

<!--- About Us --->

<div class="container text-center">
    <h2 class="tittle" id="about">About Us</h2>
</div>

<p id="about">
    We are an exciting Team of Game Developers and Players. 
    We Launched this site on 2022 and want to build huge community for Game Lovers. 
    This website will be a platform for those who want to share ideas on games, buy the most enjoyable games 
    and you can read news on latest games.
    Our task is to make sure that players will be able to enjoy unique and unforgettable games.
    <br>
    We are not just a game company – we are your game partner!
</p>

<div class="container text-center">
    <h2 class="tittle">Enthusiasm</h2>
</div>

<p id="about">
    All in! Starting as a determined group of enthusiastic gamers and experienced professionals. 
    Our enthusiasm for gaming allows us to understand what players want 
    and our extensive knowledge of the video game industry helps us guide your interest in gaming.
 </p>

 <div class="container text-center">
    <h2 class="tittle">Our Goals</h2>
</div>

 <p id="about">
    Our goals are to support unique games and ambitious, skilled studios and to get wonderful games in front of players.
    We want to make publicity for great games so that everyone can enjoy them and deliver to the players the best gaming experience.
    We care both about delivering products and informing our players in order to give you the best of the best from Gaming Industry — so do not hesitate 
    and support our Game Project!
    <br>
    We are not just a game company – we are your game partner!
 </p>

 {% endblock %}